body{
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
}

::selection{
    background-color:blueviolet;
}

.bg-vid{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -2;
}

video{
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.logo img{
    height: 112.3px;
    width: 87.1px;
    padding: 10px;
    float: right;
}

nav{
    margin-left: 20px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    top: 30px;
}

nav a:hover{
    color:darkorchid;
    transition: 400ms;
}

.catchphrase{
    margin-top: 17%;
    text-align: center;
    font-weight: 100;
    font-size: 50px;

}


.btn{
    text-align: center;
    padding: 30px;
}

.btn a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline;
    border-style: solid;
    padding: 10px;
    color: white;
}

.btn a:hover{
    color: darkorchid; 
    transition: 400ms;
}

@media only screen and (max-width: 464px) {
    .logo img{
        display: none;
    }

    nav{
        text-align: center;
        margin-left: 0px;
    }

    .catchphrase{
         margin-top: 55%;
    }
}


